@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Jersey+25&display=swap');

.fondo {
    background-color: #19BE2C;
    margin: 0px;
}

.header {
    background-color: #00660F;
    padding: 2% 0% 0% 4%;
    height: 60px;
    margin: 0px;
}

.header_enlaces{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.header_boton{
    display: flex;
    background-color: #19BE2C;
    text-decoration: none;
    font-family: "Jersey 25";
    font-size: 20px;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 4px;
    width: 80px;
    height: 25px;
    align-items: center;
    padding: 3px 19px;
    justify-content: center;
}

.enlaces_jornadas{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-left: 50px;
    gap: 15px;
    flex-wrap: wrap;
}

.btn_flotante{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #026b00;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 12px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.3);
    transition: background-color 0.3s;
}

.btn_flotante:hover{
    background-color: #0056b3;
}

.boton_jornadas{
    display: flex;
    background-color: #19BE2C;
    text-decoration: none;
    font-family:"Jersey 25";
    font-size: 14px;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 10px;
    width: 60px;
    height: 15px;
    align-items: center;
    padding: 3px 19px;
    justify-content: center;
}

.titulo_principal{
    font-family:"Jersey 25";
    font-size: 64px;
    text-align: center;
}

.titulo_partidos{
    font-family:"Jersey 25";
    font-size: 64px;
    padding: 40px 0px 0px 130px;
}

.subtitulo_partidos{
    font-family:"Jersey 25";
    font-size: 42px;
    padding: 30px 0px 0px 230px;
}

.imagen_principal{
    width: 300px;
    height: 400px;
}

.div_imagen{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 100px 0px;
}

.footer{
    background-color: #00660F;
    padding: 2% 0% 0% 4%;
    height: 55px;
    margin: 0px;
}

.imagen_footer_face{
    width: 45px;
    height: 45px;
}

.imagen_footer{
    width: 40px;
    height: 40px;
    display: flex;
    padding: 3px;
}

.section_footer{
    display: flex;
    justify-content: space-between;
}

.parrafo_footer{
    font-size: 12px;
    color: #ffffff;
}

.div_footer_logos{
    display: flex;
    padding: 0px 100px 0px 0px;
}

.div_jornada1{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 100px;
    margin-left: 90px;
    margin-top: 80px;
}

.div_partido{
    background-color: #00FF44;
    width: 210px;
    height: 310px;
    border: 4px solid #000000;
    border-radius: 7px;
    margin-bottom: 30px;
}

.div_fecha{
    display: flex;
    margin-left: 10px;
    justify-content: space-around;
    margin-top: 25px;
}

.texto_horario{
    font-family: Abril Fatface;
    font-size: 15px;
    margin: 0px;
}

.texto_horario1{
    font-family: Abril Fatface;
    font-size: 15px;
    margin: 0px;
    margin-right: 8px;
}

.div_marcador{
    word-spacing: 40px;
    font-family: Abril Fatface;
    font-size: 28px;
    display: flex;
    justify-content: space-around;
    margin-bottom: -18px;
}

.reloj{
    height: 20px;
    width: 20px;
    margin-left: 80px;
}

.div_escudos{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.escudo{
    height: 75px;
    width: 75px;
}

.escudo_tabla{
    height: 20px;
    width: 20px;
}

.div_estadio{
    font-family: Abril Fatface;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content:center;
}

.div_resumen_partido{
    font-family: Abril Fatface;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content:center;
    margin-top: -5px;
}

.text_resumen{
    text-decoration: none;
    color:rgb(0, 0, 0);
}

.text_resumen:hover{
    color: #002ba2;
}

.tabla_general_1{
    width: 85%;
    border-collapse: collapse;
    margin: 80px 140px;
}

th, td {
    border: 1px solid #000000;
    padding: 5px;
    text-align: center;
}

th {
    background-color: #0044ff;
    color:black;
    text-align: center;
}

.club{
    text-align: left;
    margin-right: 90px;
    width: 180px;
    height: 30px;
}

.tabla_parrafo{
    background-color: #1d9dff;
}

.tabla_parrafo1{
    background-color: #48c5ff;
}

.div_escudo_tabla{
    display: flex;
    gap: 10px;
    margin-left: 20px;
}

.ultimos_5{
    width: 300px;
}

.imagen_partidos{
    height: 25px;
    width: 25px;
}

.imagen_partidos_cruz{
    height: 29px;
    width: 29px;
    margin-top: -2px;
    margin-left: -3px;
}

.imagen_partidos_igual{
    height: 27px;
    width: 27px;
    margin-top: -1px;
    margin-right: -2px;
}

.div_logo{
    display: flex;
    gap: 30px;
    margin-left: 20px;
    margin-top: 3px;
}

.tabla_goleo{
    width: 40%;
    border-collapse: collapse;
    margin: 40px 140px;
}

.tabla_goles{
    text-align: center;
    margin-right: 90px;
    width: 100px;
    height: 20px;
}
