@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Jersey+25&display=swap');

.fondo {
    background-color: #19BE2C;
    margin: 0px;
}

.header {
    background-color: #00660F;
    padding: 2% 0% 0% 4%;
    height: 60px;
    margin: 0px;
}

.header_enlaces{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.header_boton{
    display: flex;
    background-color: #19BE2C;
    text-decoration: none;
    font-family: "Jersey 25";
    font-size: 20px;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 4px;
    width: 80px;
    height: 25px;
    align-items: center;
    padding: 3px 19px;
    justify-content: center;
}

.titulo_principal{
    font-family:"Jersey 25";
    font-size: 64px;
    text-align: center;
}

.titulo_partidos{
    font-family:"Jersey 25";
    font-size: 64px;
    padding: 40px 0px 0px 130px;
}

.subtitulo_partidos{
    font-family:"Jersey 25";
    font-size: 42px;
    padding: 30px 0px 0px 230px;
}

.imagen_principal{
    width: 300px;
    height: 400px;
}

.div_imagen{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 100px 0px;
}

.footer{
    background-color: #00660F;
    padding: 2% 0% 0% 4%;
    height: 55px;
    margin: 0px;
}

.imagen_footer_face{
    width: 45px;
    height: 45px;
}

.imagen_footer{
    width: 40px;
    height: 40px;
    display: flex;
    padding: 3px;
}

.section_footer{
    display: flex;
    justify-content: space-between;
}

.parrafo_footer{
    font-size: 12px;
    color: #ffffff;
}

.div_footer_logos{
    display: flex;
    padding: 0px 100px 0px 0px;
}

.div_jornada1{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 100px;
    margin-left: 90px;
    margin-top: 80px;
}

.div_partido{
    background-color: #00FF44;
    width: 210px;
    height: 270px;
    border: 4px solid #000000;
    border-radius: 7px;
    margin-bottom: 30px;
}

.div_fecha{
    display: flex;
    margin-left: 10px;
    justify-content: space-around;
    margin-top: 25px;
}

.texto_horario{
    font-family: Abril Fatface;
    font-size: 15px;
    margin: 0px;
}

.texto_horario1{
    font-family: Abril Fatface;
    font-size: 15px;
    margin: 0px;
    margin-right: 8px;
}

.div_marcador{
    word-spacing: 40px;
    font-family: Abril Fatface;
    font-size: 28px;
    display: flex;
    justify-content: space-around;
    margin-bottom: -18px;
}

.reloj{
    height: 20px;
    width: 20px;
    margin-left: 80px;
}

.div_escudos{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.div_escudos_monterrey{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 40px;
}

.escudo{
    height: 60px;
    width: 60px;
}

.escudo_monterrey{
    height: 75px;
    width: 140px;
    margin-left:10px;
}

.escudo_pachuca{
    height: 75px;
    width: 60px;
    margin-left: -10px;
}

.escudo_tijuana{
    height: 65px;
    width: 55px;
}

.escudo_necaxa{
    height: 80px;
    width: 80px;
    margin-top: -18px;
}

.escudo_leon{
    height: 90px;
    width: 85px;
    margin-top: -8%;
}

.escudo_chivas{
    height: 63px;
    width: 50px;
}

.div_estadio{
    font-family: Abril Fatface;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
}