@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

.fondo {
    background-color: #19BE2C;
    margin: 0px;
}

.header {
    background-color: #00660F;
    padding: 2% 0% 0% 4%;
    height: 60px;
    margin: 0px;
}

.header_enlaces{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.header_boton{
    display: flex;
    background-color: #19BE2C;
    text-decoration: none;
    font-family: "Jersey 25";
    font-size: 20px;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 4px;
    width: 80px;
    height: 25px;
    align-items: center;
    padding: 3px 19px;
    justify-content: center;
}

.titulo_principal{
    font-family:"Jersey 25";
    font-size: 64px;
    text-align: center;
}

.imagen_principal{
    width: 300px;
    height: 400px;
}

.div_imagen{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 100px 0px;
}

.footer{
    background-color: #00660F;
    padding: 2% 0% 0% 4%;
    height: 55px;
    margin: 0px;
}

.imagen_footer_face{
    width: 45px;
    height: 45px;
}

.imagen_footer{
    width: 40px;
    height: 40px;
    display: flex;
    padding: 3px;
}

.section_footer{
    display: flex;
    justify-content: space-between;
}

.parrafo_footer{
    font-size: 12px;
    color: #ffffff;
}

.div_footer_logos{
    display: flex;
    padding: 0px 100px 0px 0px;
}